{% extends 'base.html' %}
{% load static %}
{% block content %}


<main class="about-us">
    <div class="banner">
      <img src="{% static './assets/images/contct.png' %}" alt="" class="img-fluid w-100">
      {% comment %} <h1 class="text-center">
        Contact Us
      </h1> {% endcomment %}
    </div>
    <h2 class="text-center mt-5 mb-2  animate__animated animate__flipInX animate__slow	">
      Get in touch with Our Team
    </h2>
    <p class="text-center mb-3  animate__animated animate__flipInX animate__delay-1s">
      Fill the form below and we will get in touch asap
    </p>

    <section class="container mt-5">
      <div class="row ">
        <div class="col-md-6 mb-2 ">
          <form method="POST" action="{% url 'contact' %}">
          {% csrf_token %}
          {% if user.is_authenticated %}
          <input type="hidden" name="user_id" value="{{user.id}}">
           {% else %}
          <input type="hidden" name="user_id" value="00">
          {% endif %}
          <input type="hidden" name="tuber_id" value="{{tuber.id}}">
            <div class="form-row">
              <div class="form-group col-lg-6">
                <input name="full_name" class="form-control" placeholder="Full Name" required>
              </div>
              <div class="form-group col-lg-6">
                <input name="phone" class="form-control" placeholder="Phone Number">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-lg-6">
              {% if user.is_authenticated %}
                <input name="email" type="email" value="{{user.email}}" class="form-control" placeholder="Email">
              {% else %}
                <input name="email" type="email" class="form-control" placeholder="Email">
              {% endif %}
              </div>
              <div class="form-group col-lg-6">
                <input name="company_name" class="form-control" placeholder="Company Name">
              </div>
            </div>
            <div class="form-group">
              <input name="subject" class="form-control" placeholder="Subject" required>
            </div>
            <div class="form-group pt-2">
              <textarea class="form-control" rows="3" placeholder="Details Message" required></textarea>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-accent">Contact Us</button>
            </div>

          </form>
        </div>

        <div class="col-md-4 offset-md-2 d-flex justify-content-center mb-2">
          <div class="card">
            <div class="card-body">
              <div class="mb-4">
                <h6 class="card-title font-weight-bolder">Phone</h6>
                <span class="card-text">+91 9898989899</span>
              </div>
              <div class="mb-4">
                <h6 class="card-title font-weight-bolder">Email</h6>
                <span class="card-text">info@youtubers.com</span>
              </div>
              <div class="mb-4">
                <h6 class="card-title font-weight-bolder">Address</h6>
                <span class="card-text">12 some street, <br> Some city and State, <br>India </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>


{% endblock %}