{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="home">
    <div class="top" data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
      {% for slide in sliders %}
      <div class="top-banner">
        <img src="{{ slide.photo.url }}" alt="" class="img-fluid w-100">
        <div class="top-container d-flex flex-column pl-5">
          <h1>
            {% comment %} {{ slide.headline }} {% endcomment %}
          </h1>
          <p>
            {% comment %} {{ slide.subtitle }} {% endcomment %}
          </p>
          <div>
            {% comment %} <button class="btn btn-accent pl-3 pr-3 text-capitalize font-weight-bold">
              {{slide.button_text}}
            </button> {% endcomment %}
          </div>
        </div>
      </div>
      {% endfor %}


    </div>


    <section class="container d-flex justify-content-center align-items-center mt-4">
      <form method="GET" action="{% url 'search' %}" class="row text-center">
        <div class="col-md-auto">
          <div class="form-group mb-2">
            <input name="keyword" class="form-control" placeholder="Enter Keywords">
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-accent ml-2 mb-2 pl-5 pr-5">Search</button>

          </div>
        </div>
      </form>
    </section>

    

    <section class="container mt-3">
      <h3 class="text-center">Featured YouTubers</h3>
      <p class="pt-2 pb-3 text-center">YouTubers That Did Extra Ordinary Last Month</p>
      <div class="team slider" data-slick='{"slidesToShow": 3, "slidesToScroll": 1}'>

        <!-- person 1 -->
        {% for fy in featured_youtubers %}
        <div class="card border-0 text-center ml-3 mr-3">
          <div class="feature-text">
               <a href="{% url 'youtubers_detail' fy.id %}">
                <img src="{{fy.photo.url}}" class="card-img-top" alt="team-member">
                </a>
            <span class="text-left bg-accent font-weight-bold">
              Featured
            </span>
          </div>
          <div class="card-body">
          <a href="{% url 'youtubers_detail' fy.id %}">
            <h5 class="card-title" style="color: black">{{ fy.name }}</h5>
            </a>
            <p class="card-text">{{ fy.category }}</p>
            <div class="person-description mt-2">
              <button class="btn btn-accent"> City : {{ fy.city}}</button>
              <button class="btn btn-accent"> Age : <br>{{ fy.age}} </button>
              <button class="btn btn-accent"> Height : {{ fy.height}} </button>
            </div>
            <div class="person-description mt-2">
              <button class="btn btn-accent"> Team : {{ fy.crew }}</button>
              <button class="btn btn-accent"> Camera : {{ fy.camera_type }}</button>
              <button class="btn btn-accent"> Subs : {{ fy.subs_count }}</button>
            </div>
          </div>
        </div>
        {% endfor %}




      </div>

      <div class="controls d-flex justify-content-center mt-2 mb-2">
        <div class="d-flex">
          <i class="fa fa-angle-left youtuber-left"></i>
          <i class="fa fa-angle-right youtuber-right"></i>
        </div>
      </div>
    </section>



    <section class="container mt-5 mb-5">
      <h3 class="text-center">Latest On Board YouTubers</h3>
      <p class="pt-2 pb-3 text-center">YouTubers who recently got onboard with us</p>

      <div class="tubers grid">
        <!-- person 1 -->
        {% for at in all_tubers %}
        <div class="card border-0 text-center">
         <a href="{% url 'youtubers_detail' at.id %}">
                <img src="{{at.photo.url}}" class="card-img-top" alt="team-member">
          </a>    
          <div class="card-body">
          <a href="{% url 'youtubers_detail' at.id %}">
            <h5 class="card-title" style="color: black">{{at.name}}</h5>
            </a>
            <p class="card-text">{{at.category}}</p>
            <div class="person-description mt-2">
              <button class="btn btn-accent"> City: {{at.city}} </button>
              <button class="btn btn-accent"> Age: {{at.age}} </button>
              <button class="btn btn-accent"> Height: {{at.height}} </button>
            </div>
            <div class="person-description mt-2">
              <button class="btn btn-accent"> Team: {{at.crew}} </button>
              <button class="btn btn-accent"> Camera: {{at.camera_type}} </button>
              <button class="btn btn-accent"> Subs: {{at.subs_count}} </button>
            </div>
          </div>
        </div>
        {% endfor%}
        

      </div>

    </section>





    <section class="container mt-3">
      <h3 class="text-center">Our Amazing Team</h3>
      <p class="pt-2 pb-3 text-center">Meet the team</p>
      <div class="team slider" data-slick='{"slidesToShow": 3, "slidesToScroll": 1}'>


        <!-- team 1 -->
        {% for team in teams %}
        <div class="card border-0 text-center  ml-3 mr-3">
          <img src="{{ team.photo.url }}" class="card-img-top" alt="team-member">
          <div class="card-body">
            <h5 class="card-title">{{ team.first_name }} {{ team.last_name }}</h5>
            <p class="card-text">{{ team.role }}</p>
            <a class="btn btn-accent btn-block">{{ team.first_name }}</a>
            <div class="text-center mt-2">
              <a href="{{ team.fb_link }}"><button class="btn btn-accent"> <i class="fab fa-facebook-f fa-lg	"></i> </button></a>
              <a href="{{ team.insta_link }}"><button class="btn btn-accent"> <i class="fab fa-instagram fa-lg	"></i> </button></a>
            </div>
          </div>
        </div>
        {% endfor %}

        


      </div>

      <div class="controls d-flex justify-content-center mt-2 mb-2">
        <div class="d-flex">
          <i class="fa fa-angle-left team-left"></i>
          <i class="fa fa-angle-right team-right"></i>
        </div>
      </div>
    </section>
  </main>

{% endblock %}
