{% extends 'base.html' %}
{% load static %}
{% block content %}


<main class="contact-us">
    <div class="banner">
      <img src="{% static './assets/images/serve.png' %}" alt="" class="img-fluid w-100">
      {% comment %} <h1 class="text-center">
        About Us
      </h1> {% endcomment %}
    </div>
    <section class="container mt-5 mb-5">
      <div class="row mt-5">
        <div class="col-md-4">
          <img src="{% static './assets/images/features1.png' %}" alt="" class="img-fluid">
        </div>
        <div class="col-md-8 animate__animated animate__fadeInRight">
          <h2 class="text-center">Services</h2>
          <h4 class="text-center">YOUTUBERS - <b>HIRE YOUTUBERS</b><br></h5>
          <p style="color:white;"> The motive behind this is to make a medium between the creator and consumers(fans🙋‍♂️👨‍👨‍👦‍👦, brand📷📱💻, event🎉🎉  managers👨‍💼, etc.)
          <br><br>We have a dedicated Team👨‍👨‍👦‍👦 for letting you connect to the creator👦📷, without any hassle💫✨<br>
          Invite your favourite Youtubers at an Event 🎊🎊, Invite for a charity💰 event or for a noble cause🚩🚩<br>
          Our Team👨‍👨‍👦‍👦 is always ready to help <b>24X7⌛</b>. For any kind of query🤔 you just need to fill the form📑 and our support team will contact📲 you within 24 hrs⌛.
          </h4>
        </div>
      </div>
      <div class="row mt-5">
      

        <div class="col-md-8  animate__animated animate__fadeInLeft  animate__delay-1s">
          <h2 class="text-center">#Frequently Asked Questions</h2>
          <p><b>📩INVITE📩</b><br>
          <b>&nbsp;&nbsp;&nbsp;Want to Invite any youtuber at your event?</b><br>
          
        - Reach Out📮📧 to Us and we will help you contacting them<br><br>

          <b>👨‍👨‍👦‍👦COLLABORATE👨‍👨‍👦‍👦</b><br>
          <b>&nbsp;&nbsp;&nbsp;Want to Collaborate with a Youtubers?</b><br>

        - Well You are at the right place. Fill the form and fix you first meeting with them<br><br>

          <b>✨BRAND PROMOTION✨</b><br>
          <b>&nbsp;&nbsp;&nbsp;Want to PROMOTE you product by famous Youtubers?</b><br>

        - Hurry Up ad Book your slot with te Youtuber. Fill the form and tell about your product and promote you product<br><br>

          </p>
        </div>
        <div class="col-md-4">
          <img src="{% static './assets/images/featuers2.png' %}" alt="" class="img-fluid">
        </div>
      </div>
    </section>

    
  </main>


{% endblock %}