
<footer>
    <div class="bg-accent mt-5">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 text-lg-left text-center">
            <h4>
              Reach out to hire YouTubers
            </h4>
          </div>

          <div class="col-sm-6 text-lg-right text-center">
            <a href="{% url 'contact' %}" class="btn btn-light">
              Contact Us</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-lg-left text-center">
          <h5>
            2021 YouTubers for Hire
          </h5>
        </div>
        <div class="col-md-4 text-lg-center text-center">
          <h5>
            All Rights Reserved
          </h5>
        </div>
        <div class="col-md-4 text-lg-right text-center">
          <div>

            <button class="btn btn-accent"> <i class="fab fa-facebook-f fa-lg	"></i> </button>
            <button class="btn btn-accent"> <i class="fab fa-instagram fa-lg	"></i> </button>
            <button class="btn btn-accent"> <i class="fab fa-twitter fa-lg	"></i> </button>
            <button class="btn btn-accent"> <i class="fab fa-youtube fa-lg	"></i> </button>

          </div>
        </div>

      </div>
    </div>
  </footer>