<header class="header ">
    <div class="container">
      <div class="row ">
        <div class="col-md-6 header-info">
          <a href="mailto:info@youtubers.com" class="mr-3">info@youtubers.com</a>
          <span>Call at: +91 9898989898 </span>
        </div>
        <div class="header-buttons col-md-6 d-flex justify-content-end">
          {% if user.is_authenticated %}
           <a class="btn btn-accent mr-3" href="{% url 'dashboard' %}">Dashboard</a>
          <a class="btn btn-accent " href="{% url 'logout' %}">Logout</a>
          {% else %}
          <a class="btn btn-accent mr-3" href="{% url 'login' %}">Signin</a>
          <a class="btn btn-accent " href="{% url 'register' %}">SignUp</a>
          {% endif %}
        </div>
      </div>
    </div>
  </header>